<html>
<head>
  <title>{{name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="/assets/icons/chassidex.png" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/hostpage{{color}}.css">
  <script src="/assets/scripts/sidebar.js"></script>
</head>
<body onload="generateSidebar()">
  <header>
    <a href="/">
      <img src="/assets/icons/chassidex-text.png">
    </a>
  </header>
  <nav id="sidebar"></nav>
  <section id="content">
    <p class="title">{{name}}</p>
    <p class="tags">
    {% for tag in tags %}
      <a href="/#{{tag}}">{{tag}}</a>
    {% endfor %}
    </p>
    {{markdown|safe}}
  </section>
</body>
